name: Emacs binaries build and release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v2
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: git zip patch tar bsdtar make curl unzip zstd
      - name: CI-build
        run: |
          pacman -S --noconfirm base-devel pacman-contrib
          pacman -S --noconfirm mingw-w64-x86_64-toolchain
          pacman -S --noconfirm mingw-w64-x86_64-hunspell 
          pacman -S --noconfirm mingw-w64-x86_64-ripgrep
          pacman -S --noconfirm mingw-w64-x86_64-curl
          pacman -S --noconfirm mingw-w64-x86_64-ninja
          pacman -S --noconfirm mingw-w64-x86_64-sqlite3
          makepkg-mingw -f -s
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: upload windows artifacts
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # pull
          asset_path: dotemacs-bin-0.1.2-2-any.pkg.tar.zst
          asset_name: dotemacs-bin-0.1.2-2-any.pkg.tar.zst
          asset_content_type: application/x-tar
