name: Emacs binaries build

on: [push]
  # push:
    # tags:
    #   - 'v*'

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v2
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: git zip patch tar bsdtar make mingw-w64-x86_64-toolchain unzip zstd
      - name: CI-build
        run: |
          pacman -S --noconfirm mingw-w64-x86_64-hunspell mingw-w64-x86_64-hunspell-en
          pacman -S --noconfirm mingw-w64-x86_64-ripgrep  mingw-w64-x86_64-sqlite3
          make
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: upload windows artifacts
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # pull
          asset_path: _out/dotemacs-msbin.zip
          asset_name: dotemacs-msbin.zip
          asset_content_type: application/zip
